openapi: 3.0.3
info:
  title: Alfresco Agent Gateway - Copilot Import API
  version: 1.0.0
  description: Import-ready OpenAPI for Microsoft Copilot/M365 Agent actions.
servers:
  - url: https://alfagent.crestsolution.com:7443
security:
  - bearerAuth: []
paths:
  /v1/resolve:
    post:
      operationId: resolve_target
      summary: Resolve target node(s)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResolveRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResolveResponse'

  /v1/plan:
    post:
      operationId: create_plan
      summary: Create execution plan
      parameters:
        - name: Idempotency-Key
          in: header
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlanRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlanResponse'

  /v1/apply:
    post:
      operationId: request_apply
      summary: Request apply (approval gated)
      parameters:
        - name: Idempotency-Key
          in: header
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplyRequest'
      responses:
        '202':
          description: Pending approval
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplyResponse'

  /v1/approvals:
    get:
      operationId: list_approvals
      summary: List approvals
      parameters:
        - name: status
          in: query
          required: false
          schema:
            type: string
            enum: [pending, approved, rejected]
        - name: requested_by
          in: query
          required: false
          schema:
            type: string
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 200
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApprovalListResponse'

  /v1/approvals/{approval_id}:
    get:
      operationId: get_approval
      summary: Get approval by id
      parameters:
        - name: approval_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApprovalStatusResponse'

  /v1/approvals/{approval_id}/decision:
    post:
      operationId: decide_approval
      summary: Decide approval (approve/reject)
      parameters:
        - name: approval_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApprovalDecisionRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApprovalDecisionResponse'

  /v1/approvals/pending/cards:
    get:
      operationId: list_pending_approval_cards
      summary: List pending approvals as adaptive card payloads
      parameters:
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 50
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PendingApprovalCardsResponse'

  /v1/operations/{operation_id}:
    get:
      operationId: get_operation_status
      summary: Get operation status
      parameters:
        - name: operation_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationStatusResponse'

  /v1/audit/{trace_id}:
    get:
      operationId: get_audit_trace
      summary: Get audit timeline by trace id
      parameters:
        - name: trace_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditEventsResponse'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    ResolveRequest:
      type: object
      additionalProperties: false
      required: [schema_version, operation, scope, target, policy]
      properties:
        schema_version: { type: string, enum: ["1.0"] }
        operation: { type: string, enum: [locate_for_update, locate_for_upload, locate_for_create] }
        scope:
          type: object
          required: [site_id, root_node_id, max_depth]
          additionalProperties: false
          properties:
            site_id: { type: string }
            root_node_id: { type: string, format: uuid }
            max_depth: { type: integer, minimum: 1, maximum: 10 }
        target:
          type: object
          required: [kind, name]
          additionalProperties: false
          properties:
            kind: { type: string, enum: [file, folder] }
            name: { type: string }
            extension: { type: string }
            expected_parent_path: { type: string }
            expected_site_id: { type: string }
            ancestor_names:
              type: array
              items: { type: string }
            query_text: { type: string }
            modified_within_days: { type: integer, minimum: 0 }
        policy:
          type: object
          required: [max_candidates, require_unique]
          additionalProperties: false
          properties:
            max_candidates: { type: integer, minimum: 1, maximum: 20 }
            require_unique: { type: boolean }

    ResolveResponse:
      type: object
      additionalProperties: true
    PlanRequest:
      type: object
      additionalProperties: false
      required: [schema_version, resolve_request_id, action, selection, payload, safety]
      properties:
        schema_version: { type: string, enum: ["1.0"] }
        resolve_request_id: { type: string }
        action: { type: string, enum: [upload_new_version, update_metadata, create_child] }
        selection:
          type: object
          additionalProperties: false
          properties:
            target_node_id: { type: string, format: uuid }
            target_parent_node_id: { type: string, format: uuid }
        payload:
          type: object
          additionalProperties: false
          properties:
            local_file_path: { type: string }
            new_name: { type: string }
            properties:
              type: object
              additionalProperties: { type: string }
        safety:
          type: object
          additionalProperties: false
          required: [dry_run, require_preconditions]
          properties:
            dry_run: { type: boolean }
            require_preconditions: { type: boolean }
            expected_modified_at: { type: string }
            expected_checksum: { type: string }

    PlanResponse:
      type: object
      additionalProperties: true
    ApplyRequest:
      type: object
      additionalProperties: false
      required: [schema_version, plan_id, plan_hash]
      properties:
        schema_version: { type: string, enum: ["1.0"] }
        plan_id: { type: string }
        plan_hash: { type: string }
    ApplyResponse:
      type: object
      additionalProperties: true

    ApprovalDecisionRequest:
      type: object
      additionalProperties: false
      required: [decision]
      properties:
        decision: { type: string, enum: [approve, reject] }
        reason: { type: string }
    ApprovalDecisionResponse:
      type: object
      additionalProperties: true
    ApprovalStatusResponse:
      type: object
      additionalProperties: true
    ApprovalListResponse:
      type: object
      additionalProperties: true
    PendingApprovalCardsResponse:
      type: object
      additionalProperties: true
    OperationStatusResponse:
      type: object
      additionalProperties: true
    AuditEventsResponse:
      type: object
      additionalProperties: true
